body{
	text-align: center !important;
}
p{
	margin-top: 20px;
	font-size: 30px;
}
input{
	text-align: center;
}
#LangTable{
    margin-bottom: 150px;
}
.form-card{
    background-color:#B0E0E6	;
	
    border-radius: 10px;
    margin-top: 50px;
}
.mssg{
	margin-top: 50px;
	margin-bottom: 50px;
	border-radius: 50px;
}